{% extends 'base.html' %}
{% block content %}

<div class="col-md-6">
    <div class="card mb-5">
        <div class="card-header">Complete Details Of Employee</div>
        <div class="card-body">
            <h2>{{employee.first_name|capfirst}} {{employee.last_name|capfirst}}</h2>
            <hr>
            <p><strong>Email ID: </strong><span class="secondery-text">{{employee.email}}</span></p>
            <p><strong>Phone No.: </strong><span class="secondery-text">{{employee.phone}}</span></p>
            <p><strong>Address: </strong><span class="secondery-text">{{employee.address}}</span></p>
            <p><strong>Gender: </strong><span class="secondery-text">{{employee.gender}}</span></p>
            <p><strong>Date Of Birth: </strong><span class="secondery-text">{{employee.dob}}</span></p>
            <p><strong>Joining Date: </strong><span class="secondery-text">{{employee.joining_date}}</span></p>
            <p><strong>Job Assigned: </strong></p>
            {% if employee.jobs.all %}
                <ul class="list-group">
                    {% for job in employee.jobs.all %}
                    <li class="list-group-item">{{job.name}}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{% url 'home' %}" class="btn btn-sm btn-warning">Go Back</a>
        </div>
    </div>
</div>
</div>{% endblock content %}